@tailwind components;

.hamburger-container {
    height: 100%;
    aspect-ratio: 1;
    
}

.hamburger-container > svg {
    height: 95%;
    position: relative;
    cursor: pointer;
}



#undraw_throw_away_re_x60k {
    height: 100%;
    width: 100%;
}

#trashcan-lid {
    transform: translateY(0);
    transition: all .2s linear;
}

.toggled > svg > g > #trashcan-lid {
    transform: translateY(-25%);
}

@layer components {
    .nav-link {
        @apply text-xl p-2 hover:text-white font-bold;
        transition: all .1s linear;
    }
    
}


@keyframes toggle {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}

.nav-menu-button .menu-line{
    transition: 
      y 300ms ease-in 300ms,
      rotate 300ms ease-in,
      opacity 0ms 300ms;
    ;
    transform-origin: center;
  }
  
  .nav-menu-button.active.menu-line{
    transition: 
      y 300ms ease-in ,
      rotate 300ms ease-in 300ms,
      opacity 0ms 300ms;
    ;
    
  }
  .nav-menu-button.active :is(.bottom,){
    y: 45;
  }
  
  .nav-menu-button.active .top {
    rotate: 45deg;
    transform: translateX(10%);
  }
  .nav-menu-button.active .bottom {
    rotate: -45deg;
  }
  .nav-menu-button.active .middle {
    opacity: 0;
  }
  
  .nav-menu-button.active {
    top: 0;
    transition: all 0.5s ease;
  }
  
  @keyframes hamburger-slide {
    30% {
      transform: scaleX(0);
      transform-origin: right;
    }
    35% {
      transform-origin: left;
      display: hidden;
    }
    85% {
      display: hidden;
    }
    100% {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
  
  .hamburger {
    position: absolute;
    pointer-events: all;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 50;
  }
  
  .nav-menu-button.active .hamburger > :is(.middle, .top, .bottom) {
    transform-origin: center;
  }
  .nav-menu-button .hamburger > :is(.middle, .top, .bottom) {
    transform-origin: right;
  }
  
  .hamburger:hover > :is(.top) {
    animation: hamburger-slide 1s;
  }
  .hamburger:hover > :is(.middle) {
    animation: hamburger-slide 1s;
    animation-delay: .1s;
  }
  .hamburger:hover > :is(.bottom) {
    animation: hamburger-slide 1s;
    animation-delay: .25s;
  }